<template name="newhero">
	<div class="sidebar">
		<div>
			<form name="new-hero" id="new-hero">
				<input name="name" id="name" placeholder="Enter Name"/><br>
				<input name="alias" id="alias" placeholder="Enter Alias"/><br>
				<input name="mainpower" id="mainpower" placeholder="Enter Power"/><br><input name="alignment" id="alignment" placeholder="Enter Alignment"/><br>
    			<input name="universe" id="universe" placeholder="Enter Universe"/><br>
				<input type="submit" value="Submit">
    		</form>
		</div>
	</div>
</template>